* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: black;
    height: 90vh;
    width: 100vw;
}

footer {
    background-color: #222222;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    /* padding: 20px 0px; */
    z-index: 1;
}

.container {
    width: 1900px;
    margin: 0 auto;
    padding: 50px 70px 0px 70px;
    position:relative
}

.container-full {
    width: 100vw;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-14 {
    width: calc(100% / 7);
}

.content {
    margin: 5px;
    position: relative; 
}

.mute-bar {
    background-color: #5e6b796e;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 15px;
    padding: 5px;
}

.content img {
    width: 100%;
}

.top-right-utility {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.speaker-view {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin-right: 5px;
} 

.cross-arrow {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: white;
} 

.bg-gray {
    background-color: #4a4a4a;
}

.bg-black {
    background-color: #222222;
}

.col-30 {
    width: 30%;
    justify-content: flex-start;
    display: inline-block;
    font-size: 30px;
}

.col-60 {
    width: 60%;
}
.col-10 {
    width: 10%;
    height: 10vh;
    color: red;
    justify-content: center;
}

.icons {
    font-size: 35px;
}

.icons i {
    margin: 0px 10px;
    text-align: center;
}

.fa-chevron-up {
    font-size: 10px;
    margin: 0px 10px;
}

span {
    font-size: 10px;
    display: block;
}
.fa-solid span {
    padding-top: 10px;
}

.speaker-view span {
    font-size: 15px;
}

.dp-flex {
    display: flex;
    align-items: center;
}

.text-white {
    color: white;
}